[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://www.reddit.com/r/scaleclaw/
Icon=ublue-discourse
Name=Community
Name[cs]=Komunita
Name[fr]=Communauté
Comment=Scaleclaw Discussions
Comment[fr]=Discussions autour de Scaleclaw
Categories=Utility;
