[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://github.com/scaleclaw/scaleclaw/
Icon=ublue-docs
Name=Documentation
Name[cs]=Dokumentace
Comment=Scaleclaw documentation
Comment[cs]=Scaleclaw dokumentace
Comment[fr]=Documentation de Scaleclaw
Keywords=Scaleclaw;Help;Docs;Instructions
Categories=Utility;
